<!-- Start API -->

<launch>
  <!-- launch publish point navigation -->
  <node name="move_to_point" pkg="ocs2_api" type="move_to_point_node.py" output="screen">
  </node>
  <!-- launch 2D Nav Goal-->>
  <node name="move_to_point_vector" pkg="ocs2_api" type="move_to_point_vector_node.py" output="screen">
  </node>
  <!-- obstacle detection -->
  <node name="obstacle_detection" pkg="ocs2_api" type="obstacle_detection_node.py" output="screen">
  </node>
  <!-- battery status -->
  <node name="battery_node" pkg="ocs2_api" type="battery_node.py" output="screen">
  </node>
  <!-- emergency stop status -->
  <node name="estop_node" pkg="ocs2_api" type="estop_node.py" output="screen">
  </node>
</launch>
