<?xml version="1.0"?>
<launch>

    <!-- Associate to the robot description parameter, the urdf file that model the robot -->
    <param name="robot_description" command = "$(find xacro)/xacro --inorder $(find ocs2_arm)/urdf/spot_w_arm.urdf" />

    <!-- Set the position in empy world -->
    <arg name="x" default="0" />
    <arg name="y" default="0" />
    <arg name="z" default="1" />

    <!-- Launch Gazebo world in paused -->
    <include file = "$(find gazebo_ros)/launch/empty_world.launch" >
        <arg name="use_sim_time" value="true"/>
        <arg name="debug" value="false"/>
        <arg name="gui" value="true"/>
        <arg name="paused" value="true"/>
    </include>

    <!-- Spawn the robot using the package gazebo_ros -->
    <node name="spawn_the_robot" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-urdf -param robot_description -model spot_w_arm -x $(arg x) -y $(arg y) -z $(arg z)" />


</launch>