<?xml version="1.0" encoding="utf-8"?>

<launch>

    <!-- Required arguments -->
    <arg name="controllers_file"/>
    <arg name="controllers_ns"/>
    <arg name="controllers_args"/>
    <arg name="plugin_info_file"/>
    <arg name="description_name"/>
    <arg name="description_file"/>

    <!-- Optional gazebo arguments -->
	<arg name="gui"					     default="true"/>
	<arg name="x" 					   	 default="0.0"/>
	<arg name="y" 					     default="0.0"/>
	<arg name="z" 					     default="3.0"/>
	<arg name="world"					 default="normal"/>
	<arg name="paused"					 default="false"/>
    <arg name="use_sim_time"             default="true"/>

	<!-- Plugin config file -->
	<param name="pluginConfigFile" value="$(arg plugin_info_file)" />

	<!-- Empty World -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find ocs2_gazebo)/launch/worlds/$(arg world)/$(arg world).world"/>
		<arg name="use_sim_time" value="$(arg use_sim_time)"/>
		<arg name="gui" value="$(arg gui)"/>
		<arg name="paused" value="$(arg paused)"/>
	</include>

	<!-- Load gazebo description -->
	<param name="$(arg description_name)" command="$(find xacro)/xacro --inorder $(arg description_file)" />

    <!-- Spawn robot -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
	   args="-param $(arg description_name) -urdf -x $(arg x) -y $(arg y) -z $(arg z) -model $(arg description_name)"/>

    <!-- Load joint controllers -->
	<rosparam file="$(arg controllers_file)" command="load" />
	<node name="controller_spawner" pkg="controller_manager" type="spawner"
      respawn="false" output="screen" ns="$(arg controllers_ns)" args="$(arg controllers_args)"/>

</launch>
